.container{
    width: 100%;
}
.header, footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: burlywood;
    color: bisque;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}
.dashboard{
    padding-top: 20px;
    display: block;
    background-color:gold;
    height: 40px;
}
h4{
    color: bisque;
    margin: 0 auto;
    text-align: center;
}
.logoimg{
    padding-top:10px;
}

.log-button > a > input{
    margin-top: 40px;;
    width: 100px;
    height: 30px;
    box-shadow: -2px -2px 3px cornsilk;
}
.nav-items {
    
    justify-self: center;
}
ul{
    padding: 10px;
    text-align: center;
    display: flex;
    color: white;
    font: bold;
}
li {
padding: 20px;
}
.compname{
    z-index: 5;
    padding-top: 20px;
    position: absolute;
    margin: 0 auto;
    align-self: center;
}

.navigation > ul {
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
    background-color: aliceblue;

}
.section {
    background-color: bisque;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .background{
     display: flex;
     flex-direction: column;
 }

.image {
    align-self: auto;
    margin: 0 auto;
    margin-top: 60px;
}

ul>li{
    justify-content: space-between;
    color: white;
    list-style: none;
}
li > a{
    text-decoration: none;
    color: white;
    font:18pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px black;
}
.varieties {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.images{
    margin: 20px;
    height: 80px;
    width: 80px;
    border:groove gold;
    border-radius: 10px;
    box-shadow: 3px 3px 5px burlywood;
}
.cart{
    flex:9;
    margin: 0;
    padding: 5px;
}
h6{
    padding: 10px;
    display: block;
    background-color: bisque;
    font: bold;
    font-size: 10pt;
    text-transform: uppercase;
}
.main-drink {
    align-self: center;
    margin: 0 auto; 
}
h1, h3 {
    padding: 5px;
    margin: 0 0;
    text-align: center;
    color: brown;
    }
h1 {
    font: bold 30pt;
    padding-top: 20px;
}
.titles{
    background-color: wheat;
}
.shelf{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    padding:20px;
}
.items {
    width: 80%;
    justify-self: center;
    display: flex;

}
h5{ 
    display: flex;
    padding-left: 20px;  
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
}
.odd-row,.even-row{
    height: 30px;

}
.even-row {
    background-color: blanchedalmond;
}
.odd-row {
    background-color: white;
}
.groups{
    display: flex;
    flex-direction: row;
    height: 300px;
}
.pay{
    margin: 0 auto;
    flex:0.5;
}
.cart-column {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex:1;
    border: solid;
    border-color:brown;   
}
.column-1, .column-2, .column-3{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    flex: 1;
    padding: 20px;

}
.column-1 > p{
    font-size: 14pt;
    color: brown;
    font-weight: bold;
}
.column-2 > input, button {
    width: 300px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column-3 > input {
    margin-top: 10px;
    margin: 0 auto;
}
.column-1,.column-2{
    flex: 1;
}
.t-data, .item{
    width:600px;
    padding: 10px;
}
.column-2,.column-3{
    font-weight:bold;
    color: brown;
}
.checkbox{
    width: 40px;
    background-color:bisque;
}
.price,.quantity{
    text-align: center;
    font-weight: bold;
}

.cart-column {
    margin-top: 0;
    padding: 0;
    flex: 0.6;
}

.item{
    font-weight: bold;
    background-color: bisque;
}
.block{
    margin: 0 auto;
    background-color: yellow;
    
    align-self: center;
}
.imgs{
    background-color: burlywood;
    display: block;
    text-align: center;
    padding: 20px;
}
.l-1, .l-2 {
   display: inline-block;   
}
.bgland1{
    /* margin-top: 200px; */
    display:flex;
    margin: 50px;
    margin-bottom: 0px;
}
.bgland{
    flex:3;
}
.login{
    justify-content: center;
    align-self: center;
    margin:0 auto;
    flex:1;
}
.log-info > form > input {
    display: block;
    width: 300px;
    height: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 5px 5px 5px brown;
}
.logfooter{
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color:burlywood;
}
.con-input{
    display: block;

}
p{
    font-size: 16pt;
}
.comment{
    display: block;
    height: 200px;
    width: 300px;
}
.about-img{
    padding-top: 50px;
    padding-left: 50px;
}
.texts{
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
}

.services > p{
    font-size: 13pt;
    padding: 0;
    margin: 0;
    text-align: center;
}
p > span{
    color: brown;
    font-weight: bold;
}
p > a{
    color: burlywood;
}
.services{
    color: burlywood;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
}
.services > ul{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    justify-self: center;
    align-content: center;
}
.services > ul > li{ 
    margin: 0 auto;
    margin-left: 60px;
    margin-right: 60px;
    padding: 5px;
    text-align: center;
    color: burlywood;
    font: 14pt bold;    
}
.output{
    background-color: gold;
    padding: 7px;
    margin: 10px;
    font-weight:bold;
    font-size: 10pt;
}
.totalPrice{
    padding: 7px;
    margin: 5px;
    background-color: brown;
    color: wheat;
    font-weight: bolder;
    text-align: center;
}
.motto{
    z-index: 10;
    text-shadow: 2px 2px 2px brown;
    color:black;
    font-weight: bold;
    align-self: center;
    position: absolute;
    margin-top: 140px;
}
/* HOVER CLASSES */
@keyframes hover{
    from{ color: white;}
    50% {color: bisque;}
    to {color: brown;}
}
a:hover{
    animation-name: hover;
    animation-duration: 1s;
}
a:active {
    color: brown;
}
.images:hover{
    height: 100px;
    width: 100px;
}

@keyframes back{
    0%,100% { background-color: wheat;}
    25% { background-color: rgb(250, 231, 127);}
    50% { background-color: blanchedalmond;}
    75% { background-color: rgba(235, 231, 28, 0.76);}
}

.block {
    background-color: wheat;
    animation-name: back;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22)

}

@keyframes dash{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
    
}
.dashboard{
    animation-name: dash;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-duration: 3s;
}