.container{
    width: 100%;
}
.header, footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: burlywood;
    color: bisque;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}
h4{
    color: bisque;
    margin: 0 auto;
    text-align: center;
}
.logoimg{
    padding-top:10px;
}
.nav-items {
    justify-self: center;
}
ul{
    padding: 10px;
    text-align: center;
    display: flex;
    color: white;
    font: bold;
}
li {
padding: 20px;
}
.compname{
    z-index: 5;
    padding-top: 20px;
    position: absolute;
    margin: 0 auto;
    align-self: center;
}

.navigation > ul {
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
    background-color: aliceblue;

}
.section {
    background-color: bisque;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .background{
     display: flex;
     flex-direction: column;
 }

.image {
    align-self: auto;
    margin: 0 auto;
    margin-top: 60px;
}

ul>li{
    justify-content: space-between;
    color: white;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font:18pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px black;
}
.varieties {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.images{
    margin: 20px;
    height: 80px;
    width: 80px;
    border:groove gold;
    border-radius: 10px;
    box-shadow: 3px 3px 5px burlywood;
}
.main-drink {
    align-self: center;
    margin: 0 auto; 
}
h1, h3 {
    margin: 0 0;
    text-align: center;
    color: brown;
    }
h1 {
    font: bold 30pt;
    padding-top: 20px;
}
.titles{
    background-color: wheat;
}
.shelf{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    padding:20px;
}
.items {
    width: 80%;
    justify-self: center;
    display: flex;

}
h5{ 
    display: flex;
    padding-left: 20px;  
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
}
.odd-row,.even-row{
    height: 30px;

}
.even-row {
    background-color: blanchedalmond;
}
.odd-row {
    background-color: white;
}
.column-1, .column-2 {
    flex: 2;
    padding: 20px;
}
.column-2{
    flex:1;
    background-color: bisque;
}
.checkbox{
    text-align: center;
}
.t-data, .item{
    width:600px;
    background-color:;
    padding: 10px;
}
.checkbox{
    width: 40px;
    background-color:bisque;
}
.price,.quantity{
    background-color:;
    text-align: center;
    font-weight: bold;
}
.item{
    font-weight: bold;
    background-color: bisque;
}
.block{
    margin: 0 auto;
    background-color: yellow;
    
    align-self: center;
}
.imgs{
    background-color: burlywood;
    display: block;
    text-align: center;
    padding: 20px;
}
.l-1, .l-2 {
   display: inline-block;   
}
.bgland1{
    /* margin-top: 200px; */
    display:flex;
    margin: 50px;
    margin-bottom: 0px;
}
.bgland{
    flex:3;
}
.login{
    justify-content: center;
    align-self: center;
    margin:0 auto;
    flex:1;
}
.log-info > form > input {
    display: block;
    width: 300px;
    height: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 5px 5px 5px brown;
}
.logfooter{
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color:burlywood;
}
/* HOVER CLASSES */
@keyframes hover{
    from{ color: white;}
    50% {color: bisque;}
    to {color: brown;}
}
a:hover{
    animation-name: hover;
    animation-duration: 2s;
}
a:active {
    color: brown;
}
.images:hover{
    height: 100px;
    width: 100px;
}

@keyframes back{
    0%,100% { background-color: wheat;}
    25% { background-color: rgb(250, 231, 127);}
    50% { background-color: blanchedalmond;}
    75% { background-color: rgba(235, 231, 28, 0.76);}
}

.block {
    background-color: wheat;
    animation-name: back;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}
